<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.geeksempire.ready.keep.notes">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".KeepNoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/applicationName"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/GeeksEmpire.Material">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/default_color"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <activity
            android:name=".EntryConfigurations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Overview.UserInterface.KeepNoteOverview"
            android:windowSoftInputMode="adjustPan"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Overview" />

        <activity
            android:name=".Notes.Taking.TakeNote"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.TakeNote">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountManager.UserInterface.AccountInformation"
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/GeeksEmpire.Material.SignIn"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Preferences.UserInterface.PreferencesControl"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/GeeksEmpire.Material.Preferences" />

        <activity
            android:name=".Invitations.Receive.ReceiveInvitation"
            android:theme="@style/GeeksEmpire.Material.Transparent" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="https"
                    android:host="www.geeksempire.net"
                    android:pathPrefix="/ReadyKeepNotesInvitation.html" />
            </intent-filter>
        </activity>

        <service
            android:name=".Utils.RemoteTasks.Notifications.RemoteNotificationHandler">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>